.wizard-layout__navbar {
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

.usa-progress-bar {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes button-appear {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}