body {
  margin: 0;
  font-family: sans-serif;
}

footer {
  margin-top: 60px;
  color: #999;
  font-size: 0.9rem;
}

.section {
  width: 95%;
  max-width: 650px;
  margin: 30px auto;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: DodgerBlue;
}

code {
  display: block;
  width: 600px;
  margin: 10px auto;
  padding: 20px 30px;
  background-color: #eee;
  text-align: left;
}

label.usa-radio__label {
  margin-left: 100px;
  text-align: left;
}


ul.usa-card-group {
  min-height: 300px;
}

div.usa-step-indicator__header {
  margin-left: 150px;
}

.usds-q-navbar {
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

.usds-q-progress-bar {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.usds-q-results-summary-box {
  text-align: left;
}

.usds-q-results-summary-header {
  padding-top: 20px !important;
}

.usds-q-step-info {
  background-color: #d5fbf3 !important;
  border-color: #1dc2ae !important;
  border-width: 1px;
  margin-top: 10px;
  padding: 0px 0px 10px 0px;
  text-align: left;
  outline-color: #1dc2ae;
  outline-width: 1px;
  outline-style: solid;
}

.usa-site-alert {
  background-color: #d5fbf3 !important;
}

.usa-alert {
  background-color: #d5fbf3 !important;
}

.usa-alert__body {
  background-color: #d5fbf3 !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes button-appear {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

